// пробіл між двома селекторами, це - селектор нащадка (descendant selector)
div p {
  /* Вибере всі <p> елементи, які є нащадками для <div> */
  color: black;
}

//  символ більше ">" - селектор прямих дочірніх елементів (що є на одному рівні вкладенності) child selector
div > p {
  /* Вибере всі <p> елементи, які є безпосередніми дітьми <div> */
  color: black;
}

// символ плюс "+" - селектор наступного сусіда (adjacent sibling selector)
h2 + p {
  /* Вибере один елемент <p>, який є наступним сусідом <h2> і має спільного з ним батька*/
  color: black;
}

// символ тільда "~ " - селектор усіх сусідів general sibling selector
h2 ~ p {
  /* Вибере всі елементи <p> елементи, які є наступними сусідами <h2> і мають спільного з ним батька */
  color: black;
}
/**
  |============================
  | Using combinators in SASS
  |============================
*/
ul > {
  li {
    list-style: none;
  }
}

h2 {
  + p {
    border-top: 1px solid gray;
  }
}

// вибрати усі теги span, що є сусідами параграфу "p"
p {
  ~ {
    span {
      opacity: 0.8;
    }
  }
}
