@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
/* ===== Usage ===== */
.button {
  background-color: white;
  border: 1px solid darkblue;
}
.button:not([disabled]):hover {
  color: white;
  background-color: darkblue;
}

/* == END == default styles for body == */